<!DOCTYPE html>

<html>
<head>
<title>Comarcas de Luj&aacute;n | Pueblo de chacras </title>
<meta charset="utf-8">
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.js"></script>
<script type="text/javascript" src="js/bgfull.js"></script>

</head>

<body>
    <div class="wrapper">
        
        <header class="head">
            <hgroup>
                <h1>COMARCAS DE LUJAN</h1>
                <h2>Pueblo de Chacras</h2>
            </hgroup>
            <nav>    
                <ul>
                    <li><a href="javascript:void(0)" title="Home">Home</a></li>
                    <li><a href="javascript:void(0)" title="Home">Masterplan - Barrios</a></li>
                    <li><a href="javascript:void(0)" title="Home">Deportes y Esparcimiento</a></li>
                    <li><a href="javascript:void(0)" title="Home">Paseo de Compras</a></li>
                    <li><a href="javascript:void(0)" title="Home">Naturaleza</a></li>
                    <li><a href="javascript:void(0)" title="Home">Historia</a></li>
                    <li><a href="javascript:void(0)" title="Home">Novedades</a></li>
                    <li><a href="javascript:void(0)" title="Home">Documentacion</a></li>
                    <li><a href="javascript:void(0)" title="Home">Como llegar</a></li>
                    <li><a href="javascript:void(0)" title="Home">Contacto</a></li>
                </ul>
            </nav>
        </header>
        
        <article>
            <div id="main">
                <h1>Historia</h1>
                <p>Sobre 550 has de tierra con una profusa y a&ntilde;osa arboleda y sobre lo que fue una de las estancias 
                m&aacute;s tradicionales de la provincia de Buenos Aires se emplaza Comarcas de Lujan.</p>
                
                <p>Cinco Clubes de Chacras, un Centro de Servicios, un Colegio Trilingue, un &Aacute;rea de Gastronom&iacute;a 
                y Hoteler&iacute;a conforman el primer megaemprendimiento de Chachas en la zona oeste.</p>
                
                <p>Los Barrios se interrelacionaran entre s&iacute; a trav&eacute;s de medios circundantes, favoreciendo a la 
                seguridad, mediante los distintos puestos de guardias y permitiendo a los propietarios disfrutar 
                de las distintas actividades que ofrecer$aacute; cada uno de ellos.</p>
            </div>
        </article>
        
        <aside>
            <div id="slideshow">
                <img src="images/image1.jpg" alt="Slideshow Image 1" class="active" />
                <img src="images/image2.jpg" alt="Slideshow Image 2" />
                <img src="images/image3.jpg" alt="Slideshow Image 3" />
                <img src="images/image1.jpg" alt="Slideshow Image 4" />
                <img src="images/image2.jpg" alt="Slideshow Image 5" />
            </div>
        </aside>
    </div>
</body>
</html>